
body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.footer {
  flex-direction:row; 
}

button {
    font-family : inherit;
    font-size: 1em;

}

.searchBar{
    font-family: inherit;
    font-size: 1em;
}

.nav {
    display: flex;
    float:left;
    align-content:space-around;
    justify-content: space-evenly;
	text-align: center;

}

.concertImage{
     width: 15in;
     height:fit-content;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));


}
.SoundStageLogo{
position: relative;
border-radius: 650px; 
width: 200px;
float:left;
margin-top:16px;
cursor: pointer;
}

.header {
    text-align: center;
    background-color: black;
  }

