
body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    display: flex; 
    min-width: 100vh;
    flex-direction: column;
}

.header{
   background-color: black; 
   overflow: hidden;
}

header ::after{
    content: ''; 
    display: table;
    clear: both; 
}

.concertHeader {
    text-align: center;
}

.footer {
  justify-content: space-evenly;
  align-items: center;
  display: flex; 
  margin-top: 30px;
  width: 100%; 
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: 14px;
  text-decoration: none;

}

.footer a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.sortBy {
/* float: right; */
padding: 2em; 
}

button {
    font-family : inherit;
    font-size: 1em;
}

 .concertCard {
    padding: 2em;
    /* border: 0.25em solid; */
    border-radius: 25%;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-block;
    width: 260px;
    height: 260px;
} 

.filteredConcertList {
    display:contents; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10%;
    gap: 20px;
    
}

.concertCard>img{
    max-width: 100%;
    width:300px;
    height: 200px;
    padding: 15px;
}

.searchBar{
    font-family: inherit;
    font-size: 1em;
    /* float: left; */

}

.nav {
    /* display: flex;
    border: 4em;  */
    float:left;
    /* align-content:space-around;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    list-style-type: none;
    margin: 20; 
    position: relative;
	text-align: center;
    flex-direction: row; */
}

nav ul {
    margin: 0; 
    padding: 0;
    list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a :hover{
    color: 000;
    
}

nav a ::before{
    content: '';
    display: block;
    height: 5px;
    width: 100px; 
    background-color: #444;
    position: absolute;
    top: 0;
    width: 100%; 
    transition: all ease-in-out 250ms; 
}

nav a :hover ::before{
    width: 100%; 
}

.login-bar{
    color:rgb(255, 255, 255);
}

.concertImage{
     width: auto;
     height:fit-content;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     max-width: 100%;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));


}

/* .concertList {
    /* display: flex;  */

/* } */ */

.planningImage{
    display:flex; 
    float: right;
    height: 400px;
    width: 500px; 
}

.SoundStageLogo{
position: relative;
border-radius: 650px; 
width: 150px;
float:left;
cursor: pointer;
}

.HowItWorks {
    text-align: center;
}


.featured-artists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 2em;
    padding-left: 2em;
    margin: 1em;
    gap: 2em;
    height: auto;
    
    justify-items: center;
    /* justify-items: ; */
    /*border: 0.25em solid;
    border-radius: 25%;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 260px;  */
}

.featured-artists > * {
    border: 2px solid rgb(169, 169, 169);
}

.featured-artists > * > img {
    max-width: 100%;
    width: 250px;
    height: 200px;
}

.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reviews > * {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 10px 5px 5px rgb(197, 197, 197);
    padding: 10px;
}

.reviews > * > h2 {
    font-size: 14pt;
    font-style: italic;
}

.sponsors {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.sponsors > * > img {
    max-width: 100%;
    width: 250px;
    height: 200px;
    
}

.atos > img {
    height: auto;
}

.apple > img{
    height: 225px;
    width: 325px;
}

.login-bar{
    float: right;
    padding-right: 2em;
}
.show {
  display: inline-block;
  transition: 800ms;
  opacity: 1;
}
.show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
    /* animation: ; */
} 